* {
	box-sizing: border-box;
}

body {
	height: 750px;
}

#colorFilm {
	
	opacity: .4;
	height: 100%;
	width: 100%;
}

.entire {
	height: 100%;
	width: 100%;
	position: relative;
	background: radial-gradient(circle, #ffffff, #9999ff, #000066);
	/*background: radial-gradient(circle, black, grey, white);*/
}

#theTime {
	z-index: 1;
}

#theTime:hover {
	cursor: pointer;
}

#theTime, #theHexCode{
	font-family: "Fascinate Inline", cursive;
	font-size: 100px;
	color: white;
	width: 33%;
	position: absolute;
	top: 30%;
	right: 30%;
}

#theHexCode {
	opacity: 0;
}



/*#theTime:hover {
	color: white;
}*/